form {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    input {
      width: 100%;
      background-color: pink;
      height: 30px;
      list-style: none;
      border: none;
      box-sizing: border-box;
      color: black;
      font-size: 15px;
      padding-left:5px ;
    }
    textarea {
      width: 100%;
      height: 100px;
      resize: none;
      background-color: pink;
      color: black;
    }
  }

  select {
    background-color: pink;
    color: black;
    height: 30px;
    font-size: 15px;
    option {
      font-size: 15px;
    }
  }
  .checkboxlabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    .checkbox {
      width: 15px;
      margin-top: 5px;
    }
  }
  .buttonSend {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      #77530a,
      #ffd277,
      #77530a,
      #77530a,
      #ffd277,
      #77530a
    );
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }

  .buttonSend::before {
    position: absolute;
    content: "Send";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }

  .buttonSend:hover {
    background-position: right;
    transition-duration: 1s;
  }

  .buttonSend:before {
    background-position: right;
    transition-duration: 1s;
  }

  .buttonSend:active {
    transform: scale(0.95);
  }
}
